* {
  background-color: #6920D8;
  color: #FDFFFF;
}

.header {
  margin-left: 25px;
  position: relative;
  text-align: center;
}

.buttonDiv {
  display: flex;
  justify-content: space-around; 
  position: relative;
}

.cardSlots {
  display: absolute;
  height: 300px;
  width: 300px;
  align-items: center;
  justify-content: center;
  height: fit-content;
  
}

// .ctaHeading {
//   text-align: center;
// }
.cardButton1 {
  color: #EDC1D4;
  border: 4px solid #EDC1D4;
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #EDC1D4;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;

  &:hover {
    box-shadow: inset 400px 100px;
  }
}

.cardButton2 {
  // position: fixed;
  // left: 30px;
  // top: 80px;
  // right: 0;
  color: #EDC1D4;
  
  border: 4px solid #EDC1D4;
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #EDC1D4;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;

  &:hover {
    box-shadow: inset 400px 100px;
    font-display: #6920D8;
  }
}





.cardImageArea {
  border: 4px solid #EDC1D4;
  padding: 15px;
  position: relative;
}

.individualCard {
  flex: 1;
  border: #FDFFFF;
  border-color: #FDFFFF;
  border-width:10px;
  margin: 30px;
  text-align: center;
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


